
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.log-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 16px;
    justify-content: center;
}

.log-item {
    flex-basis: calc((100% - 5px) / 4);
    position: relative;
    padding: 4px;
    border: 1px solid #2a2a2a;
    border-radius: 4px;
    font-size: 16px;
    font-family: monospace;
}



